  <%= javascript_include_tag :defaults %>
<% title "Edit Task" %>



<%= menu_bar do |mb|
       mb.menu_line "<<< View Task", project_task_path(@project,@task)
end%>
<br/>

<%= render :partial => 'form' %>

<p>
   <%= button_to "Delete", project_task_path(@project,@task), :confirm => '!!! Are you sure?!!!!', :method => :delete  %>
</p>
